# Stripe Configuration
STRIPE_SECRET_KEY=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=

# App Configuration
APP_URL=http://localhost:3000

# Firebase Configuration (Client-side)
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
VITE_FIREBASE_FIRESTORE_DB_ID=

# Google API Key Configuration
VITE_GOOGLE_API_KEY=
GOOGLE_API_KEY=

# Content Publishing Security Key
PUBLISH_API_KEY=
